<section id="home" class="text-center">
    <div class="container">
        <div class="row text-center pad-top" >
            <div class="col-md-12 pad-top-more">
                <h1>{{message}}</h1>
                <a href="/projects" class="btn btn-lg pad-top">
                    <i class="fa fa-bomb fa-5x" ></i>
                </a>
                <h3>Welcome to Oak Creek Graphics!</h3>
                <p class="col-md-8 col-md-offset-2">
                Oak Creek Graphics is a collaboration of projects completed by Anthony Tyrrell, a Computer Scientist from Oregon State University with an interest in Computer Graphics, Artificial Intelligence, and
                Parallel Computing.
                Feel free to browse my portfolio, contact information, or WebGL Sandbow.
                </p>
            </div>
        </div>
    </div>
</section>
