<!--PROJECT NAVIGATION BAR-->
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Oak Creek Graphics</a>
        </div>

        <ul class="nav navbar-nav">
            <li class='active'><a href="/home">HOME</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">PORTFOLIO
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="/projects">Computer Graphics</a></li>
                    <li><a ui-sref="/projects">GLSL Shaders</a></li>
                    <li><a ui-sref="/projects">Artificial Intelligence</a></li>
                </ul>
            </li>
            <li><a href="/webgl">WEBGL</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="/about">ABOUT</a></li>
            <li><a ui-sref="/contact">CONTACT</a></li>
        </ul>
    </div>
</nav>
